

# dependencies
/v3/uploads
/listen/uploads
/v3/node_modules
/listen/node_modules
/nginx
/发布费用
/sepolia
/aws
/contracts



# next.js
/v3/.next/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

