

# dependencies
/v3/uploads
/v4/uploads
/v5/uploads
/listen/uploads
/v3/node_modules
/v4/node_modules
/v5/node_modules
/listen/node_modules
/nginx
/发布费用
/sepolia
/aws
/contracts
/listen/images
/Lightsail
/mysql/data
/v3/enki
/v5_b


# next.js
/v3/.next/
/v4/.next/
/v5/.next/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

