<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>道易程</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/docs.css" />
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/main.css?op=266340">
    <link rel="stylesheet" href="/wait.css">


</head>
<body>
<header class="navbar navbar-expand-md navbar-dark bd-navbar fixed-top  " style="background:#2b669a !important;">
    <nav class="container-xxl flex-wrap flex-md-nowrap" >
        <a class="navbar-brand p-0 me-2" href="/" >
            <img src="/logo.svg" style="width: 40px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>

        </button>

        <div class="collapse navbar-collapse" id="bdNavbar">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2 active" id="route0"  href="#" >DAO列表</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" id="route1"  href="#">IADD交易</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="#" id="route2"  >创建DAO</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="http://124.71.78.126:8081"  target="_blank" >博客</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="http://124.71.78.126:8081" target="_blank">文档</a>
                </li>
            </ul>


            <hr class="d-md-none text-white-50">

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item col-6 col-md-auto">
                    <div id="prepare">
                    <button class="btn btn-success btn-sm" id="btn-connect"  style="border-radius: 12px;">
                        <i class="bi bi-wallet-fill"></i>
                        &nbsp;连接钱包&nbsp;
                    </button>
                    </div>
                    <div id="connected" style="display: none">
                        <span id="qpo" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                              data-bs-placement="bottom" >
                            <span style="font-size: 24px; margin-right: 20px;display: inline-block; color: #1aa179 ">
                             <i  class="bi bi-person-circle"></i>
                                </span>
                        </span>

                        <button class="btn btn-warning btn-sm" id="btn-disconnect"  style="border-radius: 12px;">
                            <i class="bi bi-wallet-fill"></i>
                            &nbsp;退出钱包&nbsp;
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-xxl my-md-4 bd-layout" >
    <main class="bd-main order-1" >
        <div class="bd-content ps-lg-4">
            <br/>
            <div id="transaction0" >
                <div style="display: flex; padding-right: 10px; padding-left: 10px; padding-top: 10px;  align-items: center;justify-content: space-between; font-size: 12px; " >
                    <div style="display: flex; justify-content: center; align-items: center; padding-left: 30px;" >
                        <i class="bi bi-search"  style="margin-right: -24px; z-index: 999" ></i>
                        <input type="text" id='searchbox' class="form-control form-control-sm" placeholder="搜索项目、地址" style="border-radius: 20px; width:160px;padding-left: 30px; " >
                        <button id="refrebtn" class="btn   btn-sm " style="border: 1px solid bisque; border-radius: 12px;"  >刷新</button>
                    </div>
                    <div>
                        <span id='clickTime' class="t" >按时间</span>
                        <span id='clickChart' class="t" >按字母</span>

                    </div>
                </div>
                <div id='daoMain' > </div>
                <div style="padding: 6px 10px;  display:  flex; justify-content: space-between;" >
                    <div> 总共有 &nbsp;<span id='daoCount' style="color: blueviolet;font-weight: bold;" ></span> &nbsp; DAO</div>
                    <div>当前页：<span id='pageCur' ></span></div>
                    <div>总页数：<span id='pageNum' ></span></div>
                </div>
                <div style="display: flex; justify-content: center;  align-items: center;" >
                    <div class="btn-group" role="group" >
                        <button type="button" id='firstbtn' class="btn btn-outline-primary"><i class="bi bi-chevron-bar-left"></i></button>
                        <button type="button" id='prevbtn' class="btn btn-outline-primary"><i class="bi bi-chevron-left"></i></button>
                        <button type="button" id='nextbtn' class="btn btn-outline-primary"><i class="bi bi-chevron-right"></i></button>
                        <button type="button" id='endbtn' class="btn btn-outline-primary"><i class="bi bi-chevron-bar-right"></i></button>
                    </div>
                </div>

            </div>


            <div id="transaction1" style="display: none;"  >
                <section>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded hmenu noselect" >
                        <div class="hitem" id="item1" >
                            <i class="bi bi-currency-dollar"></i><br/>
                            ICO
                        </div>
                        <div class="hitem" id="item2"  >
                            <i class="bi bi-arrow-left-right"></i><br/>
                            兑换
                        </div>
                        <div class="hitem" id="item3"  >
                            <i class="bi bi-wallet2"></i><br/>
                            转帐
                        </div>
                        <div class="hitem" id="item4"  >
                            <i class="bi bi-calculator"></i><br/>
                            合约操作
                        </div>

                    </div>
                </section>

                <div id="id1" style="display: none;"  >

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="icoName"  placeholder="请输入ICO(代币)名称">
                        <label for="iconame">请输入ICO(代币)名称</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="icoShortName"  placeholder="请输入ICO(代币)简称">
                        <label for="icoShortName">请输入ICO(代币)简称</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select form-select-lg mb-3" id="icoLong">
                            <option>18</option>
                            <option>15</option>
                            <option>12</option>
                        </select>
                        <label for="icoLong">请选择ICO(代币)精度</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="icoNum"  placeholder="保留代币数量">
                        <label for="icoNum">保留代币数量</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="icoEth"  placeholder="募集目标（ETH）">
                        <label for="icoEth">募集目标（ETH）</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="icoSum"  placeholder="募集代币总量">
                        <label for="icoSum">募集代币总量</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="icoPrice" readonly value="1 ETH=0"  placeholder="募集代币总量">
                        <label for="icoPrice">募集代币总量</label>
                    </div>

                    <br/>
                    <div class="d-grid gap-2" >
                        <button  class="btn btn-primary" >
                            创建
                        </button>
                    </div>

                </div>

                <div id="id2" style="display: none;"  >

                    <section>
                        <div class="info-text alert alert-secondary" >
                            <div class="input-group mb-3">
                                <span class="input-group-text">输入：</span>
                                <input type="text" class="form-control" id="tran1" placeholder="0.0" aria-label="Text input with dropdown button">
                                <span class="input-group-text" >
                  <select style="background: transparent; border: 0;outline:none " >
                    <option>ETH</option>
                    <option>other</option>
                  </select>
                </span>

                            </div>
                        </div>
                    </section>
                    <div style="text-align: center;" >
                        <i class="bi bi-arrow-down"></i>
                    </div>

                    <section>
                        <div class="info-text alert alert-secondary">
                            <div class="input-group mb-3">
                                <span class="input-group-text">输出：</span>
                                <input type="text" class="form-control" id="tran2" placeholder="0.0" readonly aria-label="Text input with dropdown button">
                                <span class="input-group-text" >
                  <select style="background: transparent; border: 0;outline:none " >
                    <option>ETH</option>
                    <option>other</option>
                  </select>
                </span>
                            </div>
                        </div>
                    </section>
                    <div class="d-grid gap-2" >
                        <button id="tranbtn" class="btn btn-primary" >
                            兑换
                        </button>
                    </div>

                </div>

                <div id="id3" >
                    <div style="padding-left: 20px;">
                        钱包地址：<span id="address" ></span>
                    </div>
                    <div style="padding-left: 20px;">
                        Blance ：<span id="blance" ></span>
                    </div>
                    <section>

                        <div class="info-text alert alert-secondary" >
                            <div class="input-group mb-3">
                                <span class="input-group-text">转出：</span>
                                <input type="text" class="form-control" id="w1" placeholder="0.0" aria-label="Text input with dropdown button">
                                <span class="input-group-text" >
                <select style="background: transparent; border: 0;outline:none " >
                  <option>ETH</option>
                  <option>other</option>
                </select>
              </span>

                            </div>
                        </div>
                    </section>
                    <div style="text-align: center;" >
                        <i class="bi bi-arrow-down"></i>
                    </div>

                    <section>
                        <div class="info-text alert alert-secondary">
                            <div class="input-group mb-3">
                                <span class="input-group-text">接收：</span>
                                <input type="text" class="form-control" id="w2" placeholder="0x">
                            </div>
                        </div>
                    </section>
                    <div class="d-grid gap-2" >
                        <button id="sendbtn" class="btn btn-primary" >
                            转帐
                        </button>
                    </div>

                </div>
                <div id="id4" style="display: none;" >
                   <h3>本合约发布到 Ropsten 测试链上</h3>
                    <ol>
                        <li>方法1: store() 存一个数</li>
                        <li>方法2: retrieve() 取回存进去的数</li>
                    </ol>
                    <div>
                        <div class="info-text alert alert-secondary" >
                            <div class="input-group mb-3">
                                <span class="input-group-text">存数：</span>
                                <input type="text" class="form-control" id="t1" value="4512" placeholder="0.0" >
                            </div>
                        </div>
                        <div class="d-grid gap-2" >
                            <button id="testbtn1" class="btn btn-primary" >
                               存数
                            </button>
                        </div>
                        <div class="info-text alert alert-secondary" >
                            <div class="input-group mb-3">
                                <span class="input-group-text">取数：</span>
                                <input type="text" class="form-control" id="t2" readonly placeholder="0.0" >
                            </div>
                        </div>
                        <div class="d-grid gap-2" >
                            <button id="testbtn2" class="btn btn-primary" >
                                取数
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="transaction2" style="display: none;" >
                <section>
                    <div class="shadow-sm p-3 mb-5 bg-body rounded hmenu noselect" >
                        <div class="hitem2"  >
                            <i class="bi bi-file-earmark-plus"></i><br/>
                            注册
                        </div>
                        <div class="hitem2"   >
                            <i class="bi bi-file-earmark-image"></i><br/>
                            上传logo
                        </div>
                        <div class="hitem2"  >
                            <i class="bi bi-file-earmark-plus"></i><br/>
                            创建OS
                        </div>
                        <div class="hitem2"  >
                            <i class="bi bi-currency-dollar"></i><br/>
                            发行token
                        </div>

                    </div>
                </section>
                <div id="h1formResult" style="display: none" >
                    <h3 style="text-align: center" >注册已经提交</h3>
                    <p class="info-text alert alert-secondary">
                        交易HASH: <span id="h1hash"></span>
                    </p>
                </div>
<!--                <div id=h1 >-->
                <form id="h1form" class="row g-3 needs-validation" novalidate >
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="maddress" required  placeholder="管理员地址">
                            <label for="maddress">管理员地址</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="mname" required  placeholder="项目名称">
                            <label for="mname">项目名称</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="msname" required placeholder="项目简称">
                            <label for="msname">项目简称</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="项目简介" required id="mremark" style="height: 120px"></textarea>
                            <label for="mremark">项目简介</label>
                        </div>
                        <br/>
                        <div class="d-grid gap-2"  >
                            <button id="registerbtn" class="btn btn-primary" type="submit"  >
                                注册
                            </button>
                        </div>
                    </form>

                <form id='h2form' style="display: none;" class="row g-3 needs-validation" novalidate>
                    <div class="card" >
                        <div class="card-body">
                            <div class="card-title">DAO logo更新</div>
                    <div class="input-group mb-2">
                        <span class="input-group-text ga" >DAO选择</span>
                        <select id="logoDaoList" required class="form-select form-control" ></select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text ga" >当前logo</span>
                        <div id="currentDaoLogo" class="form-control" ></div>
                    </div>
                    <div class="input-grou mb-2">
                        <input class="form-control " id="formFileLg" required type="file" accept="image/svg" >
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text ga" >更新logo</span>
                        <div id="selectDaoLogo" class="form-control" ></div>
                    </div>
                            <div class="alert alert-warning" role="alert">
                                提案之后的DAO 才能更改logo!
                            </div>
                    <br/>
                    <div class="d-grid gap-2"  >
                        <button id="uploadlogo" type="submit" class="btn btn-primary"  >
                            上传logo
                        </button>
                    </div>
                        </div>
                    </div>
                </form>

                <form id='h3form'  style="display: none;" class="row g-3 needs-validation" novalidate>
                    <div class="card" >
                        <div  class="card-body">
                            <button id="aaa" >ggggg</button>
                            <h5 class="card-title">创建OS</h5>
                            <div class="input-group mb-2">
                                <span class="input-group-text gaa" >DAO选择</span>
                                <select id="logoDaoList1" required class="form-select form-control" ></select>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text gaa"  >内部投票器</span>
                                <input type="number" id="m1" required class="form-control" value="1">
                                <span class="input-group-text ">外部投票器</span>
                                <input type="number" id="m2" required class="form-control"  value="1">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text gaa" >内部票权数</span>
                                <input type="number" id="m3" required class="form-control" value="1">
                                <span class="input-group-text ">外部票权数</span>
                                <input type="number" id="m4" required class="form-control" value="1">
                            </div>
                            <div id="zp">
                                <div class="input-group mb-2">
                                    <span class="input-group-text gaa" >初始成员</span>
                                    <input  type="text" required class="form-control" placeholder="0x">
                                    <span class="input-group-text">票权</span>
                                    <input type="number" required class="form-control" style="width:80px; max-width: 80px;" value="1">
                                    <button id="newMemberbtn" class="input-group-text btn btn-primary ">增加成员</button>
                                </div>
                            </div>

                    <br/>
                    <div class="d-grid gap-2"  >
<!--                        type="submit"-->
                        <button id="createosbtn" class="btn btn-primary"  >
                            创建OS
                        </button>
                    </div>
                        </div>
                    </div>
                </form>


                <form id='h4form'  style="display: none;" >
                    <div style="padding-left: 20px;" >
                        DAF地址：
                    </div>
                    <br/>
                    <div class="d-grid gap-2"  >
                        <button id="deployToken" type="submit" class="btn btn-primary" >
                            发行token
                        </button>
                    </div>
                </form>

            </div>


        </div>
    </main>
</div>

<footer class="bd-footer py-2 mt-3 bg-light">
    <div style="text-align: center" >
        DAISM.io
    </div>
</footer>

<script src="/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" src="/dapp/web3.min.js"></script>
<script type="text/javascript" src="/dapp/web3model.js?o=10"></script>
<script type="text/javascript" src="/dapp/chains.min.js"></script>
<script type="text/javascript" src="/dapp/wallectconnect.min.js"></script>
<script type="text/javascript" src="/dapp/fortmatic.js"></script>
<script src="/jquery-3.2.1.min.js"></script>
<script src="/main.js?lk=w40360"></script>
<script src="/data/logos.js?lk=20"></script>
<script src="/click/upLogo.js?l=0"></script>
<script src="/data/register.js"></script>
<script src="/click/crateDao.js"></script>


<div id="www" style="display: none" >
    <div>
        <strong>Connected blockchain:</strong> <span id="network-name"></span>
    </div>
    <div>
        <strong>Selected account:</strong> <span id="selected-account"></span>
    </div>
    <div>
        <strong>ETH balance:</strong> <span id="eth-balance"></span>
    </div>
</div>

</body>
</html>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
<script src="/data.js?lk=60132"></script>
