<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script type="text/javascript" src="/dapp/web3.min.js"></script>
  <script>



    const abiRegister=[
      {
        "inputs": [{
          "internalType": "address",
          "name": "_manager",
          "type": "address"
        },
          {
            "internalType": "address",
            "name": "_global",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "_owner",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "_iOsA",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "_iVoteA",
            "type": "address"
          }
        ],
        "stateMutability": "nonpayable",
        "type": "constructor"
      },
      {
        "anonymous": false,
        "inputs": [{
          "indexed": true,
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
          {
            "indexed": false,
            "internalType": "string",
            "name": "_symbol",
            "type": "string"
          },
          {
            "indexed": false,
            "internalType": "string",
            "name": "_logo",
            "type": "string"
          },
          {
            "indexed": false,
            "internalType": "uint256",
            "name": "",
            "type": "uint256"
          }
        ],
        "name": "Create",
        "type": "event"
      },
      {
        "anonymous": false,
        "inputs": [{
          "indexed": true,
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
          {
            "indexed": true,
            "internalType": "address",
            "name": "os",
            "type": "address"
          },
          {
            "indexed": false,
            "internalType": "uint256",
            "name": "",
            "type": "uint256"
          }
        ],
        "name": "CreateOs",
        "type": "event"
      },
      {
        "inputs": [],
        "name": "changePay",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "_msg",
          "type": "address"
        },
          {
            "internalType": "string",
            "name": "_name",
            "type": "string"
          },
          {
            "internalType": "string",
            "name": "_symbol",
            "type": "string"
          },
          {
            "internalType": "string",
            "name": "_logo",
            "type": "string"
          },
          {
            "internalType": "string",
            "name": "_dsc",
            "type": "string"
          },
          {
            "internalType": "bool",
            "name": "_issue",
            "type": "bool"
          }
        ],
        "name": "create",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "string",
          "name": "_name",
          "type": "string"
        },
          {
            "internalType": "address[]",
            "name": "adds",
            "type": "address[]"
          },
          {
            "internalType": "uint256[]",
            "name": "_bili",
            "type": "uint256[]"
          },
          {
            "internalType": "bytes[]",
            "name": "_initData",
            "type": "bytes[]"
          },
          {
            "internalType": "bytes[]",
            "name": "_message",
            "type": "bytes[]"
          }
        ],
        "name": "createOs",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        },
          {
            "internalType": "uint256",
            "name": "",
            "type": "uint256"
          }
        ],
        "name": "daosOf",
        "outputs": [{
          "internalType": "string",
          "name": "",
          "type": "string"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "_manager",
          "type": "address"
        }],
        "name": "getDaos",
        "outputs": [{
          "internalType": "string[]",
          "name": "_names",
          "type": "string[]"
        },
          {
            "internalType": "uint32[]",
            "name": "_ids",
            "type": "uint32[]"
          },
          {
            "internalType": "bool[]",
            "name": "isCreate",
            "type": "bool[]"
          }
        ],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "uint32",
          "name": "_id",
          "type": "uint32"
        }],
        "name": "getName",
        "outputs": [{
          "internalType": "string",
          "name": "_name",
          "type": "string"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "uint32",
          "name": "_id",
          "type": "uint32"
        }],
        "name": "getOss",
        "outputs": [{
          "components": [{
            "internalType": "string",
            "name": "name",
            "type": "string"
          },
            {
              "internalType": "string",
              "name": "symbol",
              "type": "string"
            },
            {
              "internalType": "string",
              "name": "logo",
              "type": "string"
            },
            {
              "internalType": "string",
              "name": "dsc",
              "type": "string"
            },
            {
              "internalType": "address",
              "name": "os",
              "type": "address"
            },
            {
              "internalType": "address",
              "name": "token",
              "type": "address"
            },
            {
              "internalType": "address",
              "name": "databaseChart",
              "type": "address"
            },
            {
              "internalType": "address",
              "name": "voteChart",
              "type": "address"
            },
            {
              "internalType": "address",
              "name": "appInfo",
              "type": "address"
            }
          ],
          "internalType": "struct Register.state",
          "name": "",
          "type": "tuple"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "iOsA",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "iVoteA",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "init",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "_token",
          "type": "address"
        },
          {
            "internalType": "address",
            "name": "_init",
            "type": "address"
          },
          {
            "internalType": "address",
            "name": "_install",
            "type": "address"
          }
        ],
        "name": "initOneTime",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "install",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "uint32",
          "name": "",
          "type": "uint32"
        }],
        "name": "isIssue",
        "outputs": [{
          "internalType": "bool",
          "name": "",
          "type": "bool"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "isPay",
        "outputs": [{
          "internalType": "bool",
          "name": "",
          "type": "bool"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "uint32",
          "name": "",
          "type": "uint32"
        }],
        "name": "manager",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "string",
          "name": "",
          "type": "string"
        }],
        "name": "nameToId",
        "outputs": [{
          "internalType": "uint32",
          "name": "",
          "type": "uint32"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "nextOs",
        "outputs": [{
          "internalType": "uint32",
          "name": "",
          "type": "uint32"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "owner",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "payModule",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "_paymodule",
          "type": "address"
        }],
        "name": "setPaymodule",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      {
        "inputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "name": "times",
        "outputs": [{
          "internalType": "uint32",
          "name": "",
          "type": "uint32"
        }],
        "stateMutability": "view",
        "type": "function"
      },
      {
        "inputs": [],
        "name": "tokenA",
        "outputs": [{
          "internalType": "address",
          "name": "",
          "type": "address"
        }],
        "stateMutability": "view",
        "type": "function"
      }
    ]

  </script>
  <script src="/data/Utoken.js?o=10"></script>
</head>
<body>

</body>
</html>

<script>


  var a=new utoken();
  console.log(a.address)
  const addressRegister="0x84bB9f75af35e310C6F606e9a5e83f5fa4cc514D";
  var selectedAccount='0x3f0c7e9ef3c7b17c36fa4dcc85e06b737147428d';
  var web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/v3/9676a35d629d488fb90d7eac1348c838'));

  var myContract = new web3.eth.Contract(abiRegister,addressRegister , {from: selectedAccount});
  console.log(myContract)
  myContract.methods.getDaos(selectedAccount).call({from: selectedAccount}, function(error, result){
        console.log(error);
        console.log(result);
    });









</script>